body {
	font-family: arial;
	background-color: #000;
}

.form_container {
	position: relative;
	margin: auto;
	width: fit-content;
	background-color: #fff;
	padding: 2rem;
	border-radius: 1rem;
}

h1 {
	font-family: verdana;
	color: #3e3e3e;
	text-align: center; /* helpful on responsive layout */
}

.form_element,
#result {
	display: flex;
	width: 70%;
	margin: 0.8rem auto;
}

.form_element label {
	width: 40%;
}

#showRate {
	padding-left: 0.5rem;
}
